p{
    color: blue;
    background-color: black;
    border: 5px solid red;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 20px gold;
    text-align: center;

}
h1{
    color:blanchedalmond;
    background-color: blue;
    margin: 20px;
    border: 5px solid red;
    padding: 2opx;
    border-radius: 30px;
    box-shadow: 10px 20px  gold;
}
li{
    color:blanchedalmond;
    background-color: blue;
    margin: 20px;
    border: 5px solid red;
    box-shadow: 10px 20px  gold;
}